<main class="page-content">
        <app-navigation></app-navigation>
    
        <div class="inner-page-container">
            <div class="page-inner">
                <div class="page-body">
                    <div class="common-dash">
                        <div class="dash-pad">
                            <div class="tab-title">
                                <h2>
                                  Add a company
                                </h2>
                            </div>
    
                            <div class="h-form">
    
                            </div>
                        </div>
                    </div>
    
                    <div class="common-body">
                        <div class="common-search-wrapper">
                            <div class="search-input">
                                <input type="text" name="" value="" placeholder="Search" onclick="this.placeholder = ''" onblur="this.placeholder = 'Search'" class="form-control">
                                <span class="icon-search"></span>
                            </div>
                        </div>
                        <div class="common-content-body">
                            <div class="padding">
                                <table class="common-table">
                                    <tr class="table-header">
                                        <th class="">Company Name</th>
                                        <th class="">Location</th>
                                        <th class="">Order Confirmation Number</th>
                                        <th class="tp"></th>
                                        <th class="tp"></th>
                                    </tr>
                                    <tr class="common-table-tr">
                                        <!-- <td class="normal-td">{{ category.categoryName }}</td>
                                        <td class="normal-td">{{ category.categoryImageRef | truncate : 30 : '...' }}</td>
                                        <td class="button-td">
                                            <button class="button-item" (click)="categoryEdit(category)">
                                                <span class="icon-pencil"></span>
                                            </button>
                                        </td>
                                        <td class="button-td">
                                            <button class="button-item" (click)="delete(category)">
                                                <span class="icon-trash"></span>
                                            </button>
                                        </td> -->
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    
    </main>
    